//main style

body {
    margin: 0;
    background-color: $light-gray;
    overflow-x: hidden;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-shadow: $shadow;
    overflow-x: hidden;
    padding-top:50px;
    height: 100%;
  }